@media (max-width:1024px) {
    /************************  NAV ************************/
    .navbar {
        background: rgba(91, 101, 253, 0.8);
        width: 100%;
    }
    .container-fluid {
        /* NÃO APAGAR*/
        overflow-x: hidden;
    }
    .container-descricao-img {
        flex-direction: column-reverse;
        width: 95%;
    }
    .container-descricao-nav {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .botao-whats {
        width: 200px;
    }
    .img-fluid {
        width: 90%;
        height: 65vh;
        margin-top: -10px;
    }
    /************************  CONTAINER PESSOAL ************************/
    .img-perfil {
        image-rendering: initial;
        border-radius: 15px;
        height: 100%;
        width: 80%;
        object-fit: contain;
    }
    .secao-pessoal>.paragrafo-hobbie {
        border-radius: 10px;
        margin: 15px 10px 50px 10px;
        border: 1px solid rgb(255, 255, 255, 0.8);
        background: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur (2px);
    }
    /************************  HOBBIES  ************************/
    .secao-hobbies {
        flex-direction: column;
        padding: 0px;
        margin-left: 0px;
        width: 100%;
        overflow: hidden;
    }
    .secao-hobbies-descricao {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    .secao-hobbies-descricao>.paragrafo-hobbie {
        margin: 10px;
        padding: 10px;
        text-align: justify;
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255, 0.8);
        background: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur (2px);
        filter: drop-shadow(0 0 8px #252525);
    }
    .container-icon {
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
    }
    /************************  TECNOLOGIAS ************************/
    .container-tecnologia {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    .container-paragrafo {
        padding: 10px;
        margin: 0px 0px 20px 0px;
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255, 0.8);
        background: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur (2px);
    }
    .container-descricao {
        flex-direction: column;
        margin: auto;
        width: 55vh;
    }
    .container-icon {
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }
    .container-icon>.icon {
        width: 100%;
        height: 8rem;
        margin: 5px;
        padding: 10px;
    }
    .icon-tec {
        font-size: 3rem;
    }
    .img-tec {
        padding: 0px;
        margin: 0px;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    /************************  PORTIFÓLIO ************************/
    .container-portifolio {
        padding: 0px;
        margin: 0px;
    }
    .container-port {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .videos-port {
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    .container-port {
        width: 100%;
        height: 100%;
    }
    .container-videos {
        flex-direction: column-reverse;
    }
    /************************  PORTIFÓLIO ************************/
    .container-rodape {
        width: 320px;
        height: 350px;
    }
    .container-contato {
        width: 240px;
        height: 140px;
        margin: 11px auto 0px auto;
    }
    .container-redesociais {
        margin: auto;
        padding: 10px;
        width: 100%;
        height: 50px;
        font-size: 20px;
    }
    .todos-direitos {
        padding: 10px;
        width: 80%;
        margin-top: -40px;
      }
    .contato1, .contato2, .contato3 {
        display: none;
    }
    .container-redesociais>p {
        display: none;
    }
}