:root {
  --preto: #252525;
  --azul: #0085ff;
  --azul-claro: #85c3ff;
  --cinza: #eeeeee;
  --branco: #ffffff;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

p, h1, h2, h4, h5 {
  font-weight: bold;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************* PARTICULAS ******************/

#particles-js {
  height: 50%;
  margin: 0px;
  padding: 0px;
}

/************************* Configurações do background - Nav ***********************************/

.navbar {
  margin: 0px;
  padding: 0px;
  background: rgba(0, 133, 255, 0.3);
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.logo {
  letter-spacing: 3px;
}

.nav-back {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.container {
  margin: 0px;
  padding: 0px;
}

.navbar-back {
  position: relative;
  background-position: bottom center;
}

.h5-nav {
  color: #fff;
}


/****************************** Configuração nav *************************************/

.container-descricao-img {
  display: flex;
  align-items: flex-end;
  margin: -350px auto 0px auto;
}

.container-descricao-nav,h5  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #191b1be1;
  margin: auto;
  padding: 20px;
  font-size: 1.3em;
}

.botao-whats {
  border-radius: 10px;
  display: block;
  width: 400px;
  background-image: linear-gradient(45deg, rgb(11, 170, 32), #4ae491, #49aa75);
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  margin: 50px auto 0px auto;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.botao-whats:hover:nth-child(1) {
  color: #d6f5e1;
  box-shadow: 0 0 30px #25d366;
}

/****************************** Configuração nav *************************************/

.img-fluid {
  display: flex;
  margin: 50px auto 0px auto;
  width: 80%;
  height: 90vh;
}

#hero, .animated {
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

/****************************** Configurações link da nav Float Shadow ******************************/

.nav-link {
  color: #fff !important;
  margin: 5px;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: 0.5s;
  font-weight: bolder;
  letter-spacing: 2px;
}

.nav-link:hover {
  text-decoration: none;
  background-color: transparent;
  color: var(--branco);
  border-color: var(--branco);
  color: #fff;
}

.nav-link {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.nav-link:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient( center, ellipse, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
  background: radial-gradient( ellipse at center, rgb(255, 255, 255) 0%, rgba(246, 246, 246, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/******************************** Configuração do pessoal ********************************/
.secao-titulo{
  font-family: 'Prociono';
}
.secao-profissional {
  text-align: center;
  padding: 100px;
  background: linear-gradient(360deg, rgba(47, 152, 251, 0.835), rgba(255, 255, 255, 2));
}

.secao-pessoal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 0px;
  padding: 0px 100px 0px 100px;
}

.secao-pessoal>.paragrafo-hobbie {
  text-align: justify;
  margin-left: 7;
  margin-bottom: 50px;
  padding: 15px;
  color: #191b1be1;
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container-img-perfil {
  display: flex;
  justify-content: center;
  width: 50vh;
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #197be8;
  background: rgba(#000000, 0.37);
  backdrop-filter: blur (2px);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.img-perfil {
  image-rendering: initial;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 15px #252525);
}

/****************************** Configuração secao hobbies *************************/

.secao-hobbies {
  padding: 100px;
  text-align: center;
  color: #191b1be1;
  width: 100%;
}

.secao-hobbies-descricao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbie1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 10px;
}

.secao-icon {
  padding: 10px;
  font-size: 3em;
}

.secao-hobbies-descricao>.paragrafo-hobbie {
  margin-left: 50px;
  padding: 40px;
  text-align: justify;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur (2px);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.botao-curriculum {
  padding: 10px 50px 10px 50px;
  margin-top: 20px;
  color: #191b1be1;
  font-size: 1.2em;
  border-radius: 10px;
  background-image: linear-gradient(45deg, rgba(50, 47, 251, 0.883), #0085ff, #53acff);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.botao-curriculum:hover {
  text-decoration: none;
  color: #fff;
}

.botao-curriculum:nth-child(2) {
  color: #d6f5e1;
  box-shadow: 0 0 30px #4c3aecd3;
}

/********************** Tecnologias e conhecimentos *********************************/

.container-tecnologia {
  text-align: center;
  padding: 50px;
  background: linear-gradient( 360deg, rgba(13, 9, 248, 0.822), rgba(255, 255, 255, 2));
}

.container-descricao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-paragrafo {
  margin-right: 50px;
  padding: 50px;
  text-align: justify;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur (2px);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 50px;
}

.icon-tec {
  font-size: 4.5em;
}

.img-tec {
  width: 70px;
  height: 90px;
  object-fit: cover;
}

.fa-html5 {
  color: rgb(255, 186, 58);
}

.fa-css3-alt {
  color: #0085ff;
}

.fa-bootstrap {
  color: blueviolet;
}

.fa-database {
  color: rgba(255, 64, 64, 0.972);
}

.fa-git-alt {
  color: rgb(250, 90, 42);
}

.fa-github {
  color: #252525;
  border-radius: 10px;
  padding: 5px;
}

/********************** Configuração Tecnologia **********************/

h5 {
  color: #191b1be1;
  text-align: justify;
  padding-left: 0px;
}

.container-videos:hover {
  transform: scale(1.1);
  transition: transform 500ms;
}

.container-portifolio {
  text-align: center;
  color: #191b1be1;
}

.descricao-port {
  text-align: justify;
  padding-left: 23px;
  margin: 100px 0px -20px 0px;
}

.container-port {
  display: flex;
  height: 300px;
}

.container-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
}

.videos-port {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 8px #252525);
}

/********************** Configuração Rodapé **********************/

footer {
  background-image: url(/img/footer-bg.svg);
  height: 850px;
  margin-top: 150px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-rodape {
  width: 1000px;
  height: 600px;
  background-image: url(/img/header-hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 8px #252525);
}

.container-contato {
  background-color: rgba(246, 242, 242, 0.979);
  text-align: center;
  width: 740px;
  height: 450px;
  margin: 37px auto 0px auto;
  border-radius: 5px;
  overflow: hidden;
}

.contato1, .contato2, .contato3 {
  color: #191b1b;
  text-decoration: none;
}

.contato1, .contato2, .contato3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  height: 15%;
}

.container-redesociais {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 2.5em;
}

.todos-direitos {
  border-top: 2px solid #fff;
  color: #fff;
  padding: 30px;
  width: 80%;
  text-align: center;
  margin-top: 40px;
}

/********************** Configuração Reaproveitamento *********************/

.container-videos, .contato1, .contato2, .contato3, .container-redesociais {
  width: auto;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur (2px);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container-contato, .container-portifolio, .secao-hobbies {
  filter: drop-shadow(0 0 8px #252525);
  background-image: linear-gradient(25deg, #8e00fd, #b84afe, #0085ff, #85c3ff);
}

.fa-facebook {
  padding: 5px;
  color: #f0f6f69f;
  border-radius: 10px;
  background-image: linear-gradient(25deg, #282de4, #6371ea, #7db0ee, #88f0f0);
  box-shadow: 0px 3px 10px rgba(194, 193, 193, 0.25);
}

.fa-linkedin {
  padding: 5px;
  color: #333af6;
  border-radius: 10px;
  background-image: linear-gradient(25deg, #453de6, #5c7ad7, #56b1c6, #05e8b2);
  box-shadow: 0px 3px 10px rgba(194, 193, 193, 0.25);
}

.exclusivo {
  padding: 5px;
  color: #191b1b;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #efeef5, #8d8f94, #2f2f2f, #252525);
  box-shadow: 0px 3px 10px rgba(194, 193, 193, 0.25);
}

.fa-envelope {
  color: #191b1b;
}

.fa-instagram {
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  box-shadow: 0px 3px 10px rgba(194, 193, 193, 0.25);
}

.fa-instagram:hover:nth-child(1) {
  color: #d6f5e1;
  box-shadow: 0 0 30px #d6249f;
}

.fa-linkedin:hover:nth-child(1) {
  color: #333af6;
  box-shadow: 0 0 30px #333af6;
}

.fa-facebook:hover:nth-child(1) {
  color: #282de4;
  box-shadow: 0 0 30px #333af6;
}

.exclusivo:hover:nth-child(1) {
  color: #141414;
  box-shadow: 0 0 30px #141414;
}