:root {
  --preto: #252525;
  --azul: #0085ff;
  --azul-claro: #85c3ff;
  --cinza: #eeeeee;
  --branco: #ffffff;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

p, h1, h2, h4, h5 {
  font-weight: bold;
}

.container-fluid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************* PARTICULAS ******************/

#particles-js {
  height: 50%;
  margin: 0;
  padding: 0;
}

/************************* Configurações do background - Nav ***********************************/

.navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
.sticky {
  position: fixed;
  background: rgba( 255, 255, 255, 0.25);
  box-shadow: 0 4px 10px 0 #00D8FF;
  backdrop-filter: blur( 2.5px);
  border: 1px solid rgba( 255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur( 2.5px);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: 1.0s;
  transition: all 0.5s ease-out 0s;
  z-index: 99;
}

.logo {
  font-family: 'Prociono';
  letter-spacing: 4px;
  font-size: 32px;
  text-decoration: none !important;
  background-image: linear-gradient(45deg, rgba(50, 47, 251, 0.883), #0085ff, #53acff, #b84afe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;

}

.nav-back {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.container {
  margin: 0;
  padding: 0;
}

.navbar-back {
  position: relative;
  background-position: bottom center;
}

.h5-nav {
  color: #fff;
}

.typing h4 {
  text-align: left;
  color: #fff;
  overflow: hidden;
  border-right: .15em solid #00D8FF;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  font-weight: bold;
  animation: typing 3.0s steps(30, end), blink-animation .8s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%;
  }
}

@keyframes blink-animation {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00D8FF
  }
}

/****************************** Configuração nav *************************************/

.container-descricao-img {
  display: flex;
  align-items: flex-end;
  margin: -350px auto 0 auto;
}

.container-descricao-nav, h5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #191b1be1;
  margin: auto;
  padding: 20px;
  font-size: 1.2em;
}

.botao-whats {
  border-radius: 10px;
  display: block;
  width: 400px;
  background-image: linear-gradient(45deg, rgb(11, 170, 32), #4ae491, #49aa75);
  color: #fff;
  font-size: 1.4rem;
  padding: 5px;
  margin: 50px auto 0 auto;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.botao-whats:hover:nth-child(1) {
  color: #d6f5e1;
  box-shadow: 0 0 30px #25d366;
}

/****************************** Configuração nav *************************************/

.img-fluid {
  display: flex;
  margin: 50px auto 0 auto;
  width: 500px;
  height: 500px;
}

#hero, .animated {
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

/****************************** Configurações link da nav Float Shadow ******************************/

.nav-link {
  color: #fff !important;
  margin: 5px;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: 0.5s;
  font-weight: bolder;
  letter-spacing: 2px;
}

.nav-link:hover {
  text-decoration: none;
  background-color: transparent;
  color: var(--branco);
  border-color: var(--branco);
  color: #fff;
}

.nav-link {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.nav-link:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient( center, ellipse, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
  background: radial-gradient( ellipse at center, rgb(255, 255, 255) 0%, rgba(246, 246, 246, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/******************************** Configuração do pessoal ********************************/

.secao-titulo {
  font-family: 'Prociono';
  font-size: 3rem;
  margin-top: 20px;
}

.secao-profissional {
  text-align: center;
  background: linear-gradient(360deg, #b84afe, rgba(47, 152, 251, 0.835), rgba(255, 255, 255, 2));
}

.secao-pessoal {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 70px;
}

.paragrafo-profissional {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  text-align: justify;
  padding: 15px;
  color: #191b1be1;
  box-shadow: rgb(49, 49, 71) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bio {
  margin: 10px;
}

.container-img-perfil {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-right: 20px;
  padding: 5px;
  border-radius: 10px;
}

.img-perfil {
  image-rendering: initial;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  image-rendering: initial;
  object-fit: contain;
  filter: drop-shadow(0 0 15px #fff);
}

.botao-curriculum {
  padding: 10px 20px 10px;
  color: #191b1be1;
  border-radius: 20px;
  background-image: linear-gradient(45deg, rgba(50, 47, 251, 0.883), #0085ff, #53acff);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all .4s;
}

/****************************** Configuração secao hobbies *************************/

.secao-hobbies {
  padding: 70px;
  text-align: center;
  color: #191b1be1;
  width: 100%;
}

.secao-hobbies-descricao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbie1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 10px;
}

.secao-icon {
  padding: 10px;
  font-size: 2.5rem;
  text-align: left;
}

.paragrafo-hobbie {
  margin-left: 50px;
  padding: 15px;
  text-align: justify;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur (2px);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.botao-curriculum:hover {
  border-radius: 20px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #b84afe, 0 15px 0 -4px #39a2db, 0 16px 10px -10px #39a2db;
}

/********************** Tecnologias e conhecimentos *********************************/

.container-tecnologia {
  text-align: center;
  padding: 50px;
  background: linear-gradient( 360deg, #b84afe, rgba(47, 152, 251, 0.835), rgba(255, 255, 255, 2));
}

.descricao-tecnologia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragrafo-tecnologia {
  margin-right: 50px;
  padding: 50px;
  text-align: justify;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur (2px);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 50px;
}

.icon-tec {
  font-size: 3rem;
}

.img-tec {
  width: 70px;
  height: 90px;
  object-fit: cover;
}

.fa-html5 {
  color: rgb(255, 186, 58);
}

.fa-css3-alt {
  color: #0085ff;
}

.fa-bootstrap {
  color: blueviolet;
}

.fa-database {
  color: rgba(255, 64, 64, 0.972);
}

.fa-git-alt {
  color: rgb(250, 90, 42);
}

.container-icon>.fa-github {
  color: #252525;
  border-radius: 10px;
  padding: 5px;
}

/********************** Configuração Tecnologia **********************/

h5 {
  color: #191b1be1;
  text-align: justify;
  padding-left: 0;
}

.container-videos:hover {
  transform: scale(1.1);
  transition: transform 500ms;
}

.container-portifolio {
  text-align: center;
  color: #191b1be1;
}

.descricao-port {
  text-align: justify;
  padding-left: 23px;
  margin: 70px 0 -20px 0;
}

.container-port {
  display: flex;
  height: 300px;
}

.container-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
}

.videos-port {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 8px #252525);
}

/********************** EFEITO DO HOVER NO PORTFÓLIO **********************/

.grid figure {
  cursor: pointer;
  overflow: hidden;
}

.grid figure figcaption, .grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure p {
  margin-top: 0px;
}

.grid figure h3 {
  margin: 10px;
}

.grid figure p {
  letter-spacing: 2px;
  padding: 0px 10px 0px 10px;
  font-size: 1rem;
}

/*---------------*/

/***** EfeitoZoe *****/

/*---------------*/

figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect-zoe p.description {
  position: absolute;
  bottom: 7em;
  color: #fff;
  text-transform: none;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h3, figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

figure.effect-zoe p.icon-links a:before {
  display: inline-block;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure.effect-zoe h3 {
  display: inline-block;
}

figure.effect-zoe:hover p.description {
  opacity: 1;
}

figure.effect-zoe:hover figcaption, figure.effect-zoe:hover h3, figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-zoe:hover h3 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.potifolio-btn {
  display: flex;
  flex-direction: row;
}

.wrapper .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(50, 47, 251, 0.883), #0269cada, #3c78b1);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all .4s;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 2;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #fff;
  padding: 7px 15px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -30px;
  opacity: 1;
  pointer-events: auto;
}

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #333;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-tamanho:hover {
  color: #fff;
}

.wrapper .website:hover a, .wrapper .website:hover .tooltip, .wrapper .website:hover .tooltip:before {
  background: #3b5999;
}

.wrapper .github:hover a, .wrapper .github:hover .tooltip, .wrapper.github:hover .tooltip:before {
  background: #333;
}

.btn-tamanho {
  font-size: 2rem;
  margin-top: 8px;
}

/********************** Configuração Rodapé **********************/

footer {
  background-image: url(/img/footer-bg.svg);
  height: 850px;
  margin-top: 150px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-rodape {
  width: 1000px;
  height: 600px;
  background-image: url(/img/header-hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 8px #252525);
}

.container-contato {
  background-color: rgba(246, 242, 242, 0.979);
  text-align: center;
  width: 740px;
  height: 450px;
  margin: 31px auto 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.contato1, .contato2, .contato3 {
  color: #191b1b;
  text-decoration: none;
  padding: 10px;
  font-weight: bolder;
}

.contato1, .contato2, .contato3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  height: 15%;
}

.container-redesociais {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5em;
}

.todos-direitos {
  border-top: 2px solid #fff;
  color: #fff;
  padding: 30px;
  width: 80%;
  text-align: center;
  margin-top: 40px;
}

/********************** Configuração Reaproveitamento *********************/

.container-videos, .contato1, .contato2, .contato3, .container-redesociais {
  width: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur (2px);
  box-shadow: rgb(22, 22, 27) 0px 40px 80px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container-contato, .container-portifolio, .secao-hobbies {
  filter: drop-shadow(0 0 8px #252525);
  background-image: linear-gradient(25deg, #8e00fd, #b84afe, #0085ff, #85c3ff);
}

.fa-facebook {
  padding: 5px;
  color: #f0f6f69f;
  border-radius: 10px;
  background-image: linear-gradient(25deg, #282de4, #6371ea, #7db0ee, #88f0f0);
  box-shadow: 0 3px 10px rgba(194, 193, 193, 0.25);
}

.fa-linkedin {
  padding: 5px;
  color: #333af6;
  border-radius: 10px;
  background-image: linear-gradient(25deg, #453de6, #5c7ad7, #56b1c6, #05e8b2);
  box-shadow: 0 3px 10px rgba(194, 193, 193, 0.25);
}

.exclusivo {
  padding: 5px;
  color: #191b1b;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #efeef5, #8d8f94, #2f2f2f, #252525);
  box-shadow: 0 3px 10px rgba(194, 193, 193, 0.25);
}

.fa-envelope, .cor-black {
  color: #191b1b;
}

.fa-instagram {
  padding: 3px;
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  box-shadow: 0 3px 10px rgba(194, 193, 193, 0.25);
}

.fa-instagram:hover:nth-child(1) {
  color: #d6f5e1;
  box-shadow: 0 0 30px #d6249f;
}

.fa-linkedin:hover:nth-child(1) {
  color: #333af6;
  box-shadow: 0 0 30px #333af6;
}

.fa-facebook:hover:nth-child(1) {
  color: #282de4;
  box-shadow: 0 0 30px #333af6;
}

.exclusivo:hover:nth-child(1) {
  color: #141414;
  box-shadow: 0 0 30px #141414;
}

/* Configuraçãp barra lateral */

::-webkit-scrollbar {
  background-image: linear-gradient(25deg, #8e00fd, #b84afe, #0085ff, #85c3ff);
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(25deg, #453de6, #5c7ad7, #56b1c6, #05e8b2);
  border: 1.8px solid #05e8b2;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(25deg, #8e00fd, #b84afe, #0085ff, #85c3ff);
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(25deg, #8e00fd, #b84afe, #0085ff, #85c3ff);
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  margin: 5px 0px;
}